{% extends "base.html" %}
{% block content %}
    <div class="flex min-h-full items-center justify-center px-4 py-12 sm:px-6 lg:px-8">
        <div class="w-full max-w-sm space-y-10">
            <div>
                <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-sky-700">Logout</h2>
            </div>
            <p class="text-center">You have been logged out.</p>
            <p class="text-center">
                <a class="flex w-full justify-center rounded-md bg-sky-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white hover:bg-sky-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600"
                   href="{% url 'login' %}">Click here to login again.</a>
            </p>
        </div>
    </div>
{% endblock content %}
