{% extends "base.html" %}
{% block content %}
    <div class="flex min-h-full items-center justify-center px-4 py-12 sm:px-6 lg:px-8">
        <div class="w-full max-w-sm space-y-10">
            <div>
                <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-sky-700">Sign in to your account</h2>
            </div>
            {% if form.errors %}<p>Your username and password didn't match. Please try again.</p>{% endif %}
            {% if next %}
                {% if user.is_authenticated %}
                    <p>
                        Your account doesn't have access to this page. To proceed,
                        please login with an account that has access.
                    </p>
                {% else %}
                    <p>Please login to see this page.</p>
                {% endif %}
            {% endif %}
            <form class="space-y-6" method="post">
                {% csrf_token %}
                <div class="relative -space-y-px rounded-md shadow-sm">
                    <div class="pointer-events-none absolute inset-0 z-10 rounded-md ring-1 ring-inset ring-gray-300"></div>
                    <div>
                        <label for="id_username" class="sr-only">Email address</label>
                        <input id="id_username"
                               name="username"
                               type="text"
                               autocomplete="username"
                               required
                               class="relative block w-full rounded-t-md border-0 py-1.5 text-gray-900 ring-1 ring-inset ring-gray-100 placeholder:text-gray-400 focus:z-10 focus:ring-2 focus:ring-inset focus:ring-sky-600 sm:text-sm sm:leading-6"
                               placeholder="Username">
                    </div>
                    <div>
                        <label for="id_password" class="sr-only">Password</label>
                        <input id="id_password"
                               name="password"
                               type="password"
                               autocomplete="current-password"
                               required
                               class="relative block w-full rounded-b-md border-0 py-1.5 text-gray-900 ring-1 ring-inset ring-gray-100 placeholder:text-gray-400 focus:z-10 focus:ring-2 focus:ring-inset focus:ring-sky-600 sm:text-sm sm:leading-6"
                               placeholder="Password">
                    </div>
                </div>
                <div class="flex items-center justify-between">
                    <div class="flex items-center">
                        <input id="remember-me"
                               name="remember-me"
                               type="checkbox"
                               class="h-4 w-4 rounded border-gray-300 text-sky-600 focus:ring-sky-600">
                        <label for="remember-me" class="ml-3 block text-sm leading-6 text-gray-900">Remember me</label>
                    </div>
                    <div class="text-sm leading-6">
                        <a href="#" class="font-semibold text-sky-600 hover:text-sky-500">Forgot password?</a>
                    </div>
                </div>
                <div>
                    <input type="hidden" name="next" value="{{ next }}">
                    <button type="submit"
                            class="flex w-full justify-center rounded-md bg-sky-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white hover:bg-sky-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600">
                        Sign in
                    </button>
                </div>
            </form>
            <p class="text-center text-sm leading-6 text-gray-500">
                Not a member?
                <a href="#w" class="font-semibold text-sky-600 hover:text-sky-500">Start a 14-day free trial</a>
            </p>
        </div>
    </div>
{% endblock content %}
