{% extends "base.html" %}
{% load mathfilters humanize %}
{% block title %}
  Locations List
{% endblock title %}
{% block head %}
  <meta http-equiv="refresh" content="30">
{% endblock head %}
{% block css %}
  <link rel="stylesheet"
        href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin="" />
{% endblock css %}
{% block js %}
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
          integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
          crossorigin=""></script>
{% endblock js %}
{% block content %}
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <h1 class="text-3xl text-sky-700">Locations</h1>
    <p class="text-gray-700 dark:text-gray-400 py-4">This page shows the last 10 locations of the device.</p>
    <div id="map" class="h-96"></div>
    <div class="relative overflow-x-auto">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 py-6">
        <thead class="text-xs text-gray-50 uppercase bg-gray-300 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">Timestamp</th>
            <th scope="col" class="px-6 py-3">Latitude</th>
            <th scope="col" class="px-6 py-3">Longitude</th>
            <th scope="col" class="px-6 py-3">Altitude</th>
            <th scope="col" class="px-6 py-3">HDOP</th>
            <th scope="col" class="px-6 py-3">Voltage</th>
          </tr>
        </thead>
        <tbody>
          {% for pl in payloads %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <td class="px-4 py-2">{{ pl.received_at|naturaltime }}</td>
              <td class="px-4 py-2">{{ pl.latitude }}</td>
              <td class="px-4 py-2">{{ pl.longitude }}</td>
              <td class="px-4 py-2">{{ pl.altitude }}</td>
              <td class="px-4 py-2">{{ pl.hdop |mul:100 }}%</td>
              <td class="px-4 py-1">{{ pl.supply_voltage|div:1000 }} V</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <script>
    const map = L.map('map').setView([{{payloads.0.latitude}},{{payloads.0.longitude}}], 15);
  
    const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
  
    
    const marker = L.marker([{{payloads.0.latitude}},{{payloads.0.longitude}}]).addTo(map)
      .bindPopup('<b>'+ "{{payloads.0.device}}"+ '</b><br />Last known position.').openPopup();
  

    function onMapClick(e) {
      popup
        .setLatLng(e.latlng)
        .setContent(`You clicked the map at ${e.latlng.toString()}`)
        .openOn(map);
    }
  
    map.on('click', onMapClick);
  
  </script>
{% endblock content %}
