<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html class="h-full bg-white dark:bg-gray-700" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"
              content="{% block description %}{% endblock description %}">
        <meta name="keywords"
              content="{% block keywords %}ELV Lorawan GPS-1{% endblock keywords %}">
        {% block head %}
        {% endblock head %}
        <title>
            {% block title %}
                Locations
            {% endblock title %}
        </title>
        <link rel="shortcut icon"
              type="image/png"
              href="{% static 'images/favicon.png' %}">
        <link rel="stylesheet" href="{% static 'css/app.css' %}">
        {% block css %}
        {% endblock css %}
        {% block js %}
        {% endblock js %}
    </head>
    <body class="h-full">
        <header class="bg-sky-600">
            <nav class="flex items-center justify-between p-6 lg:px-8"
                 aria-label="Global">
                <div class="flex lg:flex-1">
                    <a href="" class="-m-1.5 p-1.5">
                        <span class="sr-only ">Location Tracker</span>
                        <svg xmlns="http://www.w3.org/2000/svg"
                             fill="none"
                             viewBox="0 0 24 24"
                             stroke-width="2"
                             stroke="white"
                             class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 6.75V15m6-6v8.25m.503 3.498l4.875-2.437c.381-.19.622-.58.622-1.006V4.82c0-.836-.88-1.38-1.628-1.006l-3.869 1.934c-.317.159-.69.159-1.006 0L9.503 3.252a1.125 1.125 0 00-1.006 0L3.622 5.689C3.24 5.88 3 6.27 3 6.695V19.18c0 .836.88 1.38 1.628 1.006l3.869-1.934c.317-.159.69-.159 1.006 0l4.994 2.497c.317.158.69.158 1.006 0z" />
                        </svg>
                    </a>
                </div>
            </nav>
        </header>
        <div class="container mx-auto mt-4">
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>
